{% extends "base.html" %}

{% block title %}
 News
{% endblock %}

{% block content%}
<h1 class="display-1" align="center" style="margin: 45px;">
    Daily News
</h1>
<div id="news">

    {% for article in articles %}
    <div class="card card-border-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="display-5">{{article["title"]}}</h1>  
        </div>
        
        
        <div class="card-body">
            <div class="card-text">
                {% if article["description"] != None %}
              
               <p> {{article["description"]}}</p>
               {% endif %}
            </div>
        </div>
        <div class="card-footer text-muted">
               <a href="{{article["url"]}}"  target="_blank">View More</a>
        </div>
    
    </div>
    <br>
    {%endfor%}
</div>

<div align="center">
    <a href="/home"><button class="btn btn-default" style="margin-top: 12px;">Back</button></a>
</div>
{% endblock %}