{% extends "base.html" %}

{% block title %}
 Sign-Up
{% endblock %}

{% block content %}
<div style="height: 100vh;">


<form action="" method="post">
    <h1 class="display-3" align=center>
        Create Account
    </h1>
    <br>
    <div class="form-group">
           
                <input type="text" class="form-control " name="username" placeholder="Enter Username *" value="" />
          
                <br>
                <input type="text" class="form-control " name="email2" placeholder="Enter Email *" value="" />
          
                <br>
 
                <input type="password" class="form-control " name="pass1" placeholder="Enter Password *" value="" />
                <br>
 
                <input type="password" class="form-control " name="pass2" placeholder="Confirm Password *" value="" />

       <br>
            <div align="center">
                <button class="btn btn-primary">Sign Up</button>
            </div>
    </div>
</form>
</div>
{% endblock %}