{% extends "base.html" %}
{% block content %}


<form action="/edit-post/{{post.id}}" method="POST" style="margin-top: 30px;">
    <h1 class="display-3" align="center"style="padding: 12px 0px;">
        Edit Post
    </h1>
    <input type="text" name="title" id="title" placeholder="Enter title" class="form-control"> <br>
    <textarea name="post" id="post" cols="30" rows="10" class="form-control" placeholder="Description"></textarea>
    <div align="center" style="margin-top:20px;">
        <button class="btn btn-primary" type="submit">Post</button> <br>
       
    </div>
    
</form>

<div align="center">
    <a href="/home"><button class="btn btn-default">Back</button></a>
</div>

{% endblock %}
