{% extends "posts_div.html" %}

{% block title %}

{%for post in posts %}
    {% if post.user.username == user.username %}
        My Posts
        {% break %}
    {% else %}
        {{post.user.username}}'s Posts
        {% break %}
    {% endif %}
{% endfor %}

{% endblock %}


{% block header %}

{%for post in posts %}
    {% if post.user.username == user.username %}
        My Posts
        {% break %}
    {% else %}
        {{post.user.username}}'s Posts
        {% break %}
    {% endif %}
{% endfor %}

{% endblock %}

{% block button%}

    <div align="center" style="margin:15px 0px 15px 0px;">
        <a href="/create-post" ><button class="btn btn-primary btn-lg" type="submit">Create a Post</button></a>
    </div>
    
    <div align="center">
        <a href="/home"><button class="btn btn-default">Back</button></a>
    </div>

{% endblock %}